.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.disabled {
  cursor: default;
  opacity: 0.4;
}

.cursor {
  cursor: not-allowed;
}
