.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ship {
  display: flex;
  flex-direction: row;
}

.shipCell {
  width: 10px;
  height: 10px;
  border: 1px solid rgb(155 155 155);
  background-color: rgb(0 0 0);
}

.row {
  flex-direction: row;
}
